.mi-h1 {
    text-align: center;
    padding-top: 25px;
}
.contenedor {
   text-align: center;
   padding-top: 34px;
}

button{
    font-size: 30px;
    border-radius: 10px;
}

.computador {
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

